.home{

background-image: url(../src/components/assets/wp8344223.jpg);
 height: 100%;
 background-position: center;
 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}


.paginate{
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
gap: 50px;

}


.nohay{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}