.cardIndividual{
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
    background-color:#666666;
    height: 100%;
    width: 32vh;
   
    border: 10px ridge rgb(67, 67, 77);
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}







.cardIndividual:hover {
    transform: scale(1.1);
}

.cardIndividual p{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: white;
}


.cardIndividual img{
width: 25vh;

}


.cardIndividual button{
    left: 90px;
    border-radius: 20px;
    cursor: pointer;
    border:none;
    padding: 8px 16px;
    margin-top: 5px;
    font-size: 180%;
    background-color: transparent;
}

