.select1{
    height: 4vh;
    margin-right: 20px;
}

.select2{
    height: 4vh;
}



.dontFound{
    color: aliceblue;
    font-size: 40px;
    background-attachment: fixed;
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
}




.filterDiv{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}


