.barra{
    background-color: rgb(128, 123, 123);
    display: flex;
 align-items: center;
 justify-content: center;
 height: 8vh;
 width: 100%;
 gap: 15%;

    

}



@media (max-width: 912px){
    .barra{
        flex-direction: column;
        padding: 1vh;
        height: 30%;
    }
}


@media (max-width: 912px){
    .bcontariner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
    }
}

.bcontariner{
    display: flex;
  
   
}

.containert{
   font-size: 120%;
   font-weight: bold;
   color: white;
    width: 100vh;
    height: 5vh;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    

}


@media (max-width: 912px){
    .containert{
        height: 7vh;
        width: 250px;
        font-size: 100%;
        margin-bottom: 5px;
        justify-content: center;

        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 913px) and (max-width:1200px){
    .containert {    
        font-size: 12px;
        
    }
}

.barra input{
    
    width: 220px;
    height: 27px;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 5px;


}





.NavButton{
    text-decoration: none;
    margin-right: 30px;
        margin-left: 10px;
        border-radius: 10px;
        padding: 5px;
        width: 90px;
      
       

}

.NavButton:hover {
   background-color:rgb(77, 77, 77);
    color: white;

}

