.barra{
    background-color: rgb(128, 123, 123);
    height: 50px;
    display: flex;
 align-items: center;
 justify-content: center;
gap: 300px;
    

}


.containert{
   font-size: 20px;
   font-weight: bold;
   color: white;
    width: 400px;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.barra input{
    
    width: 220px;
    height: 27px;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 5px;
margin-right: 30px;

}





.NavButton{
    text-decoration: none;
    margin-right: 30px;
        margin-left: 10px;
        border-radius: 10px;
        padding: 5px;
        width: 90px;
      
       

}

.NavButton:hover {
   background-color:rgb(77, 77, 77);
    color: white;

}

