.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    
}


.title{
    color: azure;

}

.form{
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid white;
}

@media (max-width: 412px){
    .form {
            background-color: black;
            color: azure;
            display: flex;
            flex-direction: column;
            padding: 30px;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            border: solid white;
        }
}

.inputs {
    background-color: #ffffff;
    border-radius: 17px;
    padding: 10px;
    border: none;
}

.button{
    margin-top: 20px;
    height: 30px;
    width: 90px;
    border-radius: 10px;
   margin-bottom: 5px;
    
}

.button:hover{
    background-color: gray;
    color: white;

}

.buttonback{
    margin-top: 10px;
        height: 40px;
        width: 200px;
        border-radius: 10px;
}


.buttonback:hover {
    background-color: gray;
    color: white;

}
