.container{
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.title{
    color: azure;

}

.form{
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid white;
}


.button{
    margin-top: 20px;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    margin-bottom: 40px;
    
}


